* {
    box-sizing: border-box;
}

body{
    margin: 0;
}

main{
    padding: 20px;
}

section{
    margin: 50px 0px;
}

header {
    
    color: white;
    padding:20px;
}

h1{
    font-family: Roboto;
}

h2{
    font-family: Roboto;
}

p{
    font-family: Roboto;
    font-size: 16px;
}

li{
    font-family: Roboto;
    font-weight: 400;
    display: inline;
    margin-right: 20px;
}

tr{
    font-family: Roboto;
}

img{
    width: 50%;
    height: 50%;
}

a{
    text-decoration: none;
    font-family: Roboto;
    font-size: 16px;
    color: white;
}

a:hover{
    color: blueviolet;
}

footer{
    background-color: black;
    color: white;
    padding: 40px 20px 40px 20px;
}

ul{
    padding: 0px;
}

#footer p, #footer a {
    display: inline;
}

table {
    width: 50%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
}

th {
    text-align: center;
}

.top li{
    font-family: Roboto;
    font-weight: 400;
    display: list-item;
    margin: 20px;
}